<div class="g-col-12 d-flex gap-3">
<div class="col-4 border border-1 border-dark">
   <div class="bg-dark p-2">
   <span class="bg-white text-dark px-4 p-1 start-0 ">Filter</span>
    </div>
  <div class="p-4">
    <form action="self" id="id" name="name">
      <div class="row align-items-center mb-3">
    <label for="Request" class="col-md-4 col-form-label">Request ID</label>
     <div class="col-md-8">
     <input type="text" class="form-control" id="Request" name="request" >
       </div>
      </div>
      <div class="text-end mt-4">
        <button class="btn btn-danger me-2">Search</button>
        <button class="btn btn-danger">Clear</button>
      </div>
    </form>
  </div>
</div>

 <div class="col-8 mt-0">
    <div class="d-flex gap-2 mb-5">
      <button class="btn btn-danger rounded-1 p-1"> Delete</button>
      <button class="btn btn-danger rounded-1 p-1"><i class="fa-solid fa-file-export"></i> Export to Excel</button>
    </div>
     <div class="justify-content-end mt-0 mb-0">
     <nav aria-label="Page navigation example">
  <ul class="pagination"><span>No of records :0</span>
    <li class="page-item">
      <a class="page-link bg-danger text-white" href="#" aria-label="First">
        << 
      </a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-white" href="#" aria-label="Previous">
        < 
      </a>
    </li>
    <li class="page-item disabled">
      <a class="page-link bg-transparent border-0" href="#" tabindex="-1">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      </a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-white" href="#" aria-label="Next">
        > 
      </a>
    </li>
    <li class="page-item">
      <a class="page-link bg-danger text-white" href="#" aria-label="Last">
        >> 
      </a>
    </li>
    <span>page 1 of 10</span>
  </ul>
</nav>
</div>
  <div class="table-responsive">
  <table class="table table-bordered border-white">
    <thead class="table-dark text-center text-truncate">
        <tr>
          <th><span class="d-inline-block border border-white bg-white p-2"></span></th>
          <th>Request ID</th>
          <th>Sector</th>
          <th>Approving Authority</th>
          <th>Project</th>
          <th>Part Description</th>
          <th>Initiator</th>
          <th>Initiated On</th>
          <th>Current Stage</th>
          <th>Current Holder</th>
          <th>Status</th>
          <th>Revision</th>
        </tr>
      </thead>
      <tbody class="text-center text-truncate">
        <tr>
          <td></td>
        </tr>
        <tr>
          <td></td>
          </tr>
          <tr>
           <td></td>
           </tr>
           <tr>
           <td></td>
           </tr>
           <tr>
           <td></td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

